.categ{
    width:300px;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 1rem auto;
    background-color: aquamarine;
}

.categ:hover{
    transform: scale(1.1, 1.1);
    background-color: pink;
}